<div class="row">
  <div class="two columns" style="max-width: 50px">
    <h1 class="mt-2 mode">
      <div onclick="setDarkMode(true)" id="darkBtn">{{ site.switch_dark }}</div>
      <div onclick="setDarkMode(false)" id="lightBtn" class="hidden">{{ site.switch_light }}</div>
      <script>
        if (localStorage.getItem('preferredTheme') == 'dark') {
          setDarkMode(true)
        }
        function setDarkMode(isDark) {
          var darkBtn = document.getElementById('darkBtn')
          var lightBtn = document.getElementById('lightBtn')
          if (isDark) {
            lightBtn.style.display = "block"
            darkBtn.style.display = "none"
            document.body.classList.add("darkmode");
            localStorage.setItem('preferredTheme', 'dark');
          } else {
            lightBtn.style.display = "none"
            darkBtn.style.display = "block"
            document.body.classList.remove("darkmode");
            localStorage.removeItem('preferredTheme');
          }
        }
      </script>
    </h1>
  </div>

  <div class="six columns ml-1">
    <h1 class="mt-2">
      {{ site.header_title }}
    </h1>
  </div>

  <div class="twelve columns">
    <div class="row">
      <div class="nine columns left">
        <a href="/">Home</a>
        {% for name, url in site.menu %}
          <a href="{{ url }}" class="ml">{{ name }}</a>
        {% endfor %}
        {% if site.email %}
          <a href="mailto:{{ site.email }}" target="_blank" class="ml">Email</a>
        {% endif %}
      </div>
    </div>
    <hr style="margin-bottom: 2.6rem">
  </div>
</div>
